* {
    margin: 0;
    padding: 0;
}




/* p, h1 {
    color: purple
}

body div section p,
body div section h1 {
    color: red;
} */

/* .purple-color {
    color: purple;
} */

/* body div.main-content h3,h2.heading {
    color:cyan;
    font-style: italic;
} */

/* div {
    color: initial;
} */
/* 
div {
    color: initial;
    margin-left: 20px;
}

.Pai > .Filha > .Neto {
    color: red;
} */

